<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header class="header-container">
        <h1 class="header-title">
            {{home_data.header}}
        </h1>
    </header>
    <section class="description">
        <p class="description-content">
            {{home_data.description}}
        </p>
    </section>
    
    {% if user.is_authenticated %}
        <h1>Ya estas autenticado {{user.username}}</h1>
        <div class="signout-section">
            <h2 class="signout-title">
                Deseas salir?
            </h2>
            <button class="signout-btn">
                <a href="{% url 'users:signout'%}">Salir</a>
            </button>
        </div>
    {% else %}
        <section class="sign-section">
            <div class="signin">
                <h2 class="signin-title">
                    Ya tienes una cuenta?  
                </h2>
                <button class="signin-btn">
                    <a href="{% url 'users:signin'%}">acceder</a>
                </button>
            </div>
            <div class="signup">
                <h2 class="signup-title">
                    Aun no tienes una cuenta? Regístrate!
                </h2>
                <button class="signup-btn">
                    <a href="">registrar</a>
                </button>
            </div>
        </section>
    {% endif %}
</body>
</html>