{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%} ">
</head>
<body>

    
    {% if user.is_authenticated %}
        <section class="profile_section">
            {% include '../include/home_header.html' %}
            <div class="profile_section__btns">
                <button class="signout-btn">
                    <a href="{% url 'users:signout' user.id%}">Salir</a>
                </button>
                <button class="detail-btn">
                    <a href="{% url 'users:detail' user.id %}">ver</a>
                </button>
            </div>
        </section>
        <section class="users_section">
            <div class="users_section__users_list">
                <ul class="users_section__users-list">
                {% for u in users  %}
                    <li class="user-item">
                        <button class="user-item__btn">
                            <a href="{{u.id}}">
                                {{u.username}} || {{u.current_status}} || 
                                {% if u.is_online %}
                                    online
                                {% else %}
                                    offline
                                {% endif %}
                            </a>
                        </button>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="users_section__chat_section">
                
                {% if chat_user %}
                    Chateando con {{chat_user.username}}
                {% else %}
                    Haz click en alguno de los usuarios para chatear con el
                {% endif %}
                    
            </div>
        </section>


    {% else %}
        {% include '../include/home_header.html' %}
        <section class="sign-section">
            <div class="signin">
                <h2 class="signin-title">
                    Ya tienes una cuenta?  
                </h2>
                <button class="signin-btn">
                    <a href="{% url 'users:signin'%}">acceder</a>
                </button>
            </div>
            <div class="signup">
                <h2 class="signup-title">
                    Aun no tienes una cuenta? Regístrate!
                </h2>
                <button class="signup-btn">
                    <a href="{% url 'users:signup'%}">registrar</a>
                </button>
            </div>
        </section>
    {% endif %}
</body>
</html>