
*{
  font-family: "futura-pt";
  font-size: 24px;
}

body{
  display: flex;
  --base-color : #4ed31a;
  --base-background-color : #fff;
  --base-letter-color : #000;
  --base-background-box-color : #fff;
  color : var(--base-letter-color);
  background-color:  var(--base-background-color);
  transition-property: background-color color;
  transition-duration: .2s;
}

.dark{
  --base-background-color : #545761;
  --base-background-box-color : #c7c5c5;
  --base-letter-color : #ffffff    ;
}

.centered-container{
  /*
  * Para pages de poco contenido que deben ser 
  * renderizados en el centro de la pantalla
  */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


input{
  outline: 1px solid #949393;
  padding: .2rem;
  border-radius: 8px;
  border: none;
  transition-property: box-shadow border;
  transition-duration: .2s;
  margin: 0px .4rem;
  background-color : var(--base-background-box-color);
}
input:focus{
  outline: .5px solid var(--base-color);
  box-shadow: 3px 3px 10px;
}