{% extends '../include/base.html' %}
{% load static %}

{% block title %}
    Activación
{% endblock title %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/account_activation.css'%}">
{% endblock styles %}
    


{% block body %}
    <header class="header-container">
        <h1 class="header-container__title">
            Ingresa el código de activación
        </h1>
    </header>

    <form class="activation-form"method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="submit-btn hidden-submit-btn"type="submit">
            enviar
        </button>
    </form>
{% endblock body %}

