{% extends '../include/base.html' %}
{% load static %}

{% block title %}
    Cambiar contraseña
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/change_password.css'%}">
{% endblock style %}

{% block body %}
    <header class="header-container">
        <h1 class="header-container__title">
            Ingresa la nueva contraseña
        </h1>
    </header>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">cambiar</button>
    </form>
{% endblock body %}
