{% extends '../include/base.html' %}
{% load static %}


{% block title %}
    Ingresar
{% endblock title %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link rel="stylesheet" href="{% static 'css/user_already_logged.css'%}">
{% endblock styles %}
    


{% block body %}
    {% if not user.is_authenticated %}
        <header class="signin-section">
            <h1 class="sigin-title">
                Ingresa tus credenciales para acceder 
            </h1>
        </header>

        <form method="post" class="form-section">
            {% csrf_token %}
            {{form.as_p}}
            <div class="btns-container">
                <button type="submit">acceder</button>
                <button class="btn-container">
                    <a href="../">volver</a>
                </button>
            </div>
        </form>

    {% else %}
        {% include '../include/user_already_authenticated.html' %}
    {% endif %}
{% endblock body %}

