{% extends '../include/base.html' %}


{% block title %}
    Cambio de contraseña
{% endblock title %}


{% block body %}
    <header class="header-container">
        <h1 class="header-container__title">
            Ingresa la contraseña actual
        </h1>
    </header>
    <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">enviar</button>
    </form>
    <button class="back-btn-container">
        <a class="back-btn"href="../">volver</a>
    </button>
{% endblock body %}


