{% extends '../include/base.html' %}
{% load static %}


{% block title %}
    Crear cuenta
{% endblock title %}


{% block body %}
    {% if not user.is_authenticated %}
        <header class="header-container">
            <h1 class="header-title">
                Hola, al fin nos conocemos :)
            </h1>
        </header>
        <section class="form-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <img src="" alt="Imagen no encontrada ..." class="img-preview" width="200vw" height="200vh">
                <button type="submit">registrarme</button>
            </form>
        </section>
        <button class="back-btn-container">
            <a href="../" class="back-btn">volver</a>
        </button>
        <script src="{% static 'js/image_preview.js'%}"></script>
    {% else %}
        {% include '../include/user_already_authenticated.html' %}
    {% endif %}
{% endblock body %}
