{% extends '../include/base.html' %}
{% load static %}


{% block title %}
    Crear cuenta
{% endblock title %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
    <link rel="stylesheet" href="{% static 'css/user_already_logged.css'%}">
{% endblock styles %}


{% block body %}
    {% if not user.is_authenticated %}
        <header class="header-container">
            <h1 class="header-title">
                Ingresa tus datos para ser registrado
            </h1>
        </header>
        <section class="data-section">
            <form class="form-section" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <div class="btns-section">
                    <button class="back-btn-container">
                        <a href="../" class="back-btn">volver</a>
                    </button>
                    <button type="submit">registrarme</button>
                </div>
            </form>
            <img src="" alt="Imagen no encontrada ..." class="img-preview">
        </section>
        <script src="{% static 'js/image_preview.js'%}"></script>
    {% else %}
        {% include '../include/user_already_authenticated.html' %}
    {% endif %}
{% endblock body %}
