{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <header class="header-container">
        <h1 class="header-container">
            "Si la vida te da limones ponte a hacer limonada"
        </h1>
    </header>
    <section class="detail-container">
        <form class="detail-form"method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <img src="{{user_photo}}" alt="Imagen no encontrada ..." class="img-preview" width="200vw" height="200vh">
            <button type="submit">actualizar</button>
        </form>
        <ul class="detail-list">
            
            {% for i in user_data.items  %}
                <li class="detail-item">
                    {{i.0}} : {{i.1}}
                </li>
            {% endfor %}
            <li class="detail-item-photo">
                <img src="{{user_photo}}" alt="imagen no encontrada ... " width="200px" height="200px">
            </li>
        </ul>
            
    </section>
    <button class="change-pwd-btn-container">
        <a class="change-pwd-btn" href="{% url 'users:pwd-confirmation' usuario.id%}">cambiar contraseña</a>
    </button>
    <button class="back-btn-container">
        <a class="back-btn"href="../">volver</a>
    </button>
    <button class="update-btn">
        Actualizar
    </button>
    <script src="{% static 'js/image_preview.js'%}"></script>
    <script src="{%static 'js/update_system.js'%}"></script>
</body>
</html>