.profile-section{
    margin-top: 1vh;
    display: flex ;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}


.notification-globe{
    left: 10px;
    width: 7px;
    height: 7px;
    position: relative;
    border-radius: 50px;
    background-color: var(--base-color);
    transition: background-color .5s;
}
.notification-globe-active{
    background-color: inherit;
}

.notifications-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notifications_section__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    background-color: #333;
    width: 10vw;
    max-height: 20vh;
    overflow-y: scroll ;
    transition: width .2s, height .2s;
}
.notifications-hidden{
    width: 0 ;
    height: 0;
}

.notification-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color : #fff ;
    padding: 5px;
    border-top: 1px solid #fff;
    transition: background-color .3s;
}

.notification-item:hover{
    background-color: #444;
}
.no-notification{
    border: none;
}
.profile-section__btns{
    --padding-container : 5vw;
    align-self: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
}
.notification-icon{
    position: relative;
    z-index: 99;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.users-section{
    display: flex;
    width: 100vw;
    background-color: rgb(50, 50, 50);
}
.user-item{
    margin-top : .5vh;
}
.users-section__users-list{
    list-style: none;
}
.users-section__users_list{
    width: 25%;
}
.users-section__chat_section{
    width: 74%;
}


.users-section > *{
    border: 1px solid var(--base-color);
}

.users_section__chat_section__chat-username{
    width: 100% ;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--base-color);
}
.users-section__chat_section{
    display: flex;
    flex-direction: column;
}
.messages-list{
    --border-margin : 3vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 40vh ;
    overflow-y: scroll;
}
.msg-item{
    line-height: 0;
    margin-top : 1vw;
    color : #000;
    font-size: 16px;
    padding: 16px;
    border-radius: 10px;
}
.session-user-msg{
    align-self: flex-end;
    margin-right: var(--border-margin);
    background-color: var(--base-color);
}
.chat-user-msg{
    align-self: flex-start;
    margin-left: var(--border-margin);
    background-color: var(--base-color);
}

.django-msg-input{
    margin-left : 1vw;
}

.users-section__users-list{
    display: flex ;
    flex-direction: column;
    align-items: center;
}