.signin-section{
    margin-top: var(--base-window-top-distance);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.signin-section > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
