body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signin-section{
    margin-top: var(--base-window-top-distance);
}

.form-section{
    margin-top: 5vh;
    width: 35%;
}

.form-section > p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns-container{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
}

