body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-form{
    display: none;
}
.detail-form__data-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-activated{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-activated > p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detail-list{
    list-style: none;
}
.detail-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-img{
    margin-left : 3vw;
}
.btn-section{
    width:40% ;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}

.detail-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}