.clicked-user-header-container{
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: var(--base-background-box-color);
    border-radius: inherit;
}
.clicked-user__username{
    font-size: 30px;
}

.clicked-user__typing{
    margin-top: .5rem;
    font-size: var(--base-button-font-size);
}