.clicked-user-header-container{
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: var(--base-background-box-color);
    border-radius: inherit;
}
.clicked-user__username{
    font-size: 30px;
}

.clicked-user__typing{
    padding-top: .7rem;
    margin-top: .3rem;
    font-size: var(--base-button-font-size);
}

.clicked-user__typing__activated{
    padding-top: 0;
}