.clicked-user-header-container{
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: var(--base-background-dark-box-color);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    transition-property: background-color color;
    transition-duration: .2s;
}
.clicked-user__username{
    font-size: 23px;
}

.clicked-user__typing{
    padding-top: .7rem;
    margin-top: .3rem;
    font-size: var(--base-button-font-size);
}

.clicked-user__typing__activated{
    padding-top: 0;
}