.dark-mode-button__container > *{
    width: 3vw;
    height: auto;
    cursor : pointer;

}

.dark-mode-button__container{
    display: flex;
    justify-content: center;
    align-items : center;
}
