.dark-mode-button__container {
    width: 3vw;
    height: auto;
    cursor : pointer;
    position: absolute;
    top : 2vh;
    right: 4vw;
    filter : var(--base-image-drop-shadow);
}

@media screen and (max-width : 1000px){
    .dark-mode-button__container{
        width: 6vw;
    }
}
