.header-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    --title-font-size : 70px;
    --msg-font-size : 23px;
}
.header-title{
    font-size: var(--title-font-size);
}
.header-msg{
    font-size: var(--msg-font-size);
}



@media screen and (max-width : 575px){
    .header-container{
        --title-font-size : 50px;
        --msg-font-size : 16px;
    }
}


@media screen and (max-width : 300px){
    .header-container{
        --title-font-size : 35px;
        --msg-font-size : 11px;
    }
}

@media screen and (max-width : 175px){
    .header-container{
        --title-font-size : 25px;
        --msg-font-size : 8px;
    }
}




