.header-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}
.header-title{
    font-size: 2.5rem;
}
.header-msg{
    max-width: 20vw ;
    font-size: .8rem;
}





