.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items : center;
    margin-bottom : 5vh;
}

.buttons-container > *{
    padding : 0rem 1rem;
}
.users-interface-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.users-interface-container > *{
    border : 1px solid #000;
}