.message-sending-input-container{
    display: flex;
    justify-content: center;
    align-items : center;
    height: 10vh;
}
.message-counter{
    display: flex;
    justify-content: center;
    width: 3vw;
    font-size: 10px;
    align-self: center;
    margin-left: 20px;
}


.message-sending-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

