.message-content{
    font-size: var(--base-button-font-size);
    margin-bottom: .4rem;
}
.message{
    color : #000;
    margin-top: .3rem;
    padding: .3rem;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);

    max-width: 25vw;
    overflow-wrap: break-word;
}
.session-msg{
    align-self: flex-end;
    border-bottom-right-radius: 0px;
}


.not-session-msg{
    background-color : rgb(77, 144, 77);
    align-self: flex-start;
    border-bottom-left-radius: 0px;
}

.message-date{
    font-size: 0.4rem;
}