.messages-container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid #000;
}
.messages-list-container{
    height: auto;
    width: auto;
    overflow: scroll;
}
.messages-container__title{
    text-align: center;
    padding: 5rem;
}