.notifications-container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notifications-bell{
    width: 30px;
    height: 30px;
    background-color: var(--base-background-color);
    border-radius: 100%;
    border: none;
    transition: background-color .1s;
}
.notifications-bell:hover{
    cursor: pointer;
    background-color: indianred;
}
.notification-list{
    background-color: #eee;
    margin-top: .5rem;
    padding: .4rem;
    height: auto;
    width: 30vw;
    max-height: 15vh;
    top : calc(+ auto 1vh);
    flex-direction: column;
    top: 40vh;
    overflow: scroll;
    border : 1px solid #000;
    position: absolute;
    opacity: 0;
}
.notification-list-active{
    opacity: 1;
}


