
.individual-notification-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius : 10px;

}
.individual-notification-container:hover{
    background-color : var(--base-background-box-color);
}
.individual-notification-content{
    width: 100%;
    text-align: center;
    font-size: var(--base-button-font-size);
}

.individual-notification-delete-btn{
    border: none;
    background-color: inherit;
    padding: 0 .3rem;
    cursor: pointer;
}


