.notifications-container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items : start;
}


.notifications-bell{
    position: relative;
    text-align: center;
    height: auto;
    max-height: none;
}




.notifications-alert{
    background-color : #0f0;
    border-radius : 20px;
    width:  .5vw;
    height: 1vh;
    margin-left: 0;
    opacity: 0;
    transition-property: opacity margin-left;
    transition-duration: .3s;
}
.notifications-alert__activated{
    opacity: 1;
    margin-left: .3vw;
}



.notifications-list{
    max-height: 0;
    overflow: hidden;
    transition : max-height .2s;
}

.notifications-list__activated{
    max-height: 10vh;
    overflow: auto;
}
