.notifications-container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items : start;
}


.notifications-bell{
    position: relative;
    text-align: center;
    height: auto;
    max-height: none;
    width: 15vw;
}




.notifications-alert{
    color : #000;
    font-weight: 800;
    margin-left: -1.3vw;
    margin-top: .3vw;
    opacity: .6;
    font-size: 15px;
    cursor: pointer;

    z-index: 99;
    transition-property: opacity;
    transition-duration: .3s;
}
.notifications-alert__activated{
    opacity: .2;
}



.notifications-list{
    max-height: 0;
    overflow: hidden;
    transition : max-height .3s;
}

.notifications-list__activated{
    max-height: 10vh;
    overflow: auto;
}
