
.password-visualization{
  width: 1.3rem;
  filter : var(--base-image-drop-shadow);
}

.password-visualization:hover{
    cursor: pointer;
}


@media screen and (max-width : 575px){
  .password-visualization{
    width: 1rem;
  }
}

@media screen and (max-width : 300px){
  .password-visualization{
    width: .7rem;
  }
}
@media screen and (max-width : 175px){
  .password-visualization{
    width: .5rem;
  }
}

