
.password-visualization{
  max-width: 1.9rem;
}
.password-visualization:hover{
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

