.password-visualization{
    --size : 30px;
    width: var(--size);
    height: var(--size);
    background-color: aqua;
    border-radius: 50px;
}

.password-visualization:hover{
    cursor: pointer;
}