.redirect-container{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    --redirect-container-font-size : inherit;

}

.redirect-container >*{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.signup-container__title , .signin-container__title{
    font-size: var(--redirect-container-font-size);
}

.root-container{
    width: 70vw;
}

@media screen and (max-width : 575px){
    .signup-container__title , .signin-container__title{
        font-size: 20px;
    }
}


@media screen and (max-width : 300px){
    .signup-container__title , .signin-container__title{
        font-size: 14px;
    }
}


