.user-photo-container{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
}

.user-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    border-radius: inherit;
}

.user-photo-input{
    display: none;
}