.user-photo-container{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 15vw;
    height: 40vh;
}
.user-photo-smaller-container{
    min-height: 70%;
    max-height: 70%;
    width: 100%;
}
.user-photo{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    outline: 3px inset var(--base-color);
    cursor: pointer;
    transition-property: outline width height top left;
    transition-duration: .1s;
}
.user-photo:hover{
    outline: 7px inset var(--base-color);
}

.user-photo-input{
    display: none;
}
.chat-photo{
    width: 80px;
    height: inherit;
}
.chat-photo > .user-photo{
    border-radius: 100%;
}
.img-input-error-msg{
    font-size: 15px;
    margin: 0;
}

.big-user-photo{
    object-fit: contain;
    position: absolute;
    opacity: 0;
    width: 0vw;
    height: 0vh;
    outline: none;
    left : 50vw;
    top : 50vh;
    cursor: pointer;
}
.big-user-photo__activated{
    opacity: 1;
    outline: inherit;
    width: 50vw;
    height: 60vh;
    left : 25vw;
    top : 20vh;
    filter: drop-shadow(2px 2px 0 var(--base-color))
            drop-shadow(2px -2px 0 var(--base-color))
            drop-shadow(-2px 2px 0 var(--base-color))
            drop-shadow(-2px -2px 0 var(--base-color));
}

.big-user-photo:hover{
    outline: none;
    filter: drop-shadow(5px 5px 0 var(--base-color))
            drop-shadow(5px -5px 0 var(--base-color))
            drop-shadow(-5px 5px 0 var(--base-color))
            drop-shadow(-5px -5px 0 var(--base-color));
}


.user-photo-input-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-around;
}

