.user-photo-container{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
}
.user-photo-smaller-container{
    max-height: 80%;
    min-height: 80%;
    width: 100%;
}
.user-photo{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    outline: 3px inset var(--base-background-color);
    transition-property: outline width height top left;
    transition-duration: .1s;
}
.user-photo:hover{
    cursor: pointer;
    outline: 7px inset var(--base-background-color);
}

.user-photo-input{
    display: none;
}
.chat-photo{
    width: 80px;
    height: inherit;
}
.chat-photo > .user-photo{
    border-radius: 100%;
}
.img-input-error-msg{
    font-size: 15px;
    padding: 1rem;
}

.big-user-photo{
    position: absolute;
    opacity: 0;
    width: 0vw;
    height: 0vh;
    outline: none;
    left : 50vw;
    top : 50vh;
}
.big-user-photo__activated{
    opacity: 1;
    outline: inherit;
    width: 30vw;
    height: 50vh;
    left : 35vw;
    top : 25vh;
}

.user-photo-input-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

