.user-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: .2rem;
    border : none;
    border-bottom : 1px solid #000;
    color : var(--base-letter-color);
    cursor: pointer;
}

.user-button:hover{
    background-color : var(--base-background-box-color);
}


.user-button-globe{
    background-color : var(--base-color);
    border-radius: 30px;
    width:  .5vw;
    height: .5vw;
    margin-left: 0;
    transform: scale(0,0);
    transition-property: transform margin-left;
    transition-duration: .2s;
}

.user-button-globe__activated{
    margin-left: 1vw;
    transform: scale(1,1);
}

